.addTask {
    color: rgb(207, 34, 34);
    font-size: 18px;
    border: none;
}

input::placeholder {
    color: rgb(207, 34, 34);
}

input {
    border: none;
}

input:focus, button:focus {
    outline: none;
}

.addChild {
    position: absolute;
    left: 475px;
    border: none;
    font-size: 18px;
}

input .form-checkbox {
    width: 200px;
}