.main-container {
  margin-left: 20px;
}

h1 {
  font-size: 32px;
}

ul {
  list-style: none;
}

/* Inputs */

.current-value {
  border: hidden;  
  width: 90%;
  height: 100%;
  font-size: 18px;
  margin-bottom: 5px;
}

.input-box {
  border: none;
  margin-bottom: 25px;
}

.input-box:focus, .add-button:focus, .current-value:focus, .childInput:focus, .delete-button:focus, .child-button:focus, #expand-button  {
  outline: none;
}

.input-box::placeholder {
  color: rgb(185, 42, 42);
}

/* Checkboxes and Buttons */

#expand-button {
  border: none;
  margin-right: 5px;
}

.add-button {
  border: none;
  color: rgb(185, 42, 42);
  font-size: 18px;
}

.delete-button, .delete-child-button, .child-button {
  border: none;
  position: absolute;
  color: rgb(36, 32, 32);
  font-size: 14px;
}

.delete-button {
  left: 444px;
  color: blue;
}

.delete-child-button {
  margin-top: 18px;
  left: 480px;
}

.child-button {
  left: 389px;
  font-size: 14px;
  color: rgb(185, 42, 42);
}

.checkbox {
  margin-right: 10px;
}

.checkbox:checked { 
  text-decoration:line-through;
}

.child-content {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  max-height: 0px;
  visibility: hidden;
}

.child-content.expanded {
  max-height: unset;
  overflow: auto;
  visibility: visible;
}

/* Todo and Subtodo */

.items {
  color: rgb(48, 45, 45);
  font-size: 18px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(218, 210, 210);
  width: 500px;
}

.child {
  margin-left: 30px;
}

.childInput {
  margin-top: 15px;
  border: none;
  border-bottom: 1px solid rgb(218, 210, 210);
  width: 444px;
}

.child:nth-last-child(1) {
  margin-bottom: 25px;
}
